@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9 !important;
}

.my-container {
  @apply mx-auto container px-2 sm:px-6 lg:px-8;
}

.blue-gradient {
  background: var(--Linear, linear-gradient(90deg, #1e90ff 0%, #63b3ed 100%));
}
